<html>
	<head>
		<title>My Guardian</title>
	</head>
	<body>
		<p>Hello Ethan and Sundar. Thanks again for giving me the opportunity to show you my skills through this code test. I look forward to going through it with you. Let me know if you have any questions/problems running any of this.</p>
		<h1>Usage Instructions</h1>
		<h2>Testing Out the URLs</h2>
		<h3>GET /fetch_news</h3>
			<p>Ex: http://my-guardian-code.herokuapp.com/fetch_news?term=john+kerry</p>
		<h3>GET /articles</h3>
		<p>Ex: http://my-guardian-code.herokuapp.com/articles?term=john+kerry</p>
		<h3>GET /article/ObjectId</h3>
		<p>Ex: http://my-guardian-code.herokuapp.com/articles/533077f05946bae69363c547</p>
		<h3>POST /article</h3>
		<p>Ex: curl -H "Content-type: application/json" -X POST http://my-guardian-code.herokuapp.com/article -d '{"id":"533077f05946bae69363c547", "title": "New Title"}'</p>
	</body>
</html>